
/* ENTIRE PAGE ATTRIBUTES ----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Share Tech Mono', cursive;
    font-size: 16px;
    color: #333;
    background-color: #c0c2ce;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

a {
    transition: all 0.25s linear;
}

h2 {
    font-family: Share Tech Mono;
}

.fill {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow-x: hidden;
    animation: fade-in 3s;
    animation-iteration-count: 1;
}

.background {
    background-image: url(abstract.webp);
}

/* HEADER ATTRIBUTES & MENU ----------------------------------*/

.nav-bar {
    background-color: #c0c2ce;
    color: #f8f8fa;
    height: 60px;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar .logo {
    font-size: x-large;
    font-weight: 700;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
}

.nav-bar a {
    text-decoration: none;
    color: #f8f8fa;
    font-size: 18px;
    font-weight: 700;
}

.nav-bar ul li {
    margin-right: 10px;
}

.nav-bar a:hover {
    color: #333;
    border-radius: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
  
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #f8f8fa;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
  
.menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}


/* MAIN CONTENT ATTRIBUTES ----------------------------------*/

/* .main {
    background-color: #f8f8fa;
} */

.main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.main h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.image-text {
    max-width: 520px;
    padding-right: 20px;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}


/* ADDITIONAL CONTENT ATTRIBUTES ----------------------------------*/

/* .boxes {
    background-color: #f8f8fa;
} */

.boxes h2::first-letter {
    color: #f8f8fa;
    font-size:40px;
    background-color: #c0c2ce;
    padding: 0px;
    margin: 0px;
    line-height: 50px;
    text-decoration: none;
}

h2::after {
    content: "";
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
  }

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    background-color: #c0c2ce;
    color: #f8f8fa;
    font-family: Josefin Sans;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(48, 48, 48);
}

.form-box {
    background-color: #c0c2ce;
    color: #f8f8fa;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(48, 48, 48);
}

.center-box {
    margin: 0px 20px 20px 20px;
}


/* FOOTER CONTENT ATTRIBUTES ----------------------------------*/

.footer{
    background-color: #c0c2ce;
    color: #f8f8fa;
    height: 40px;
}

.footer .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.footer .copyright {
    font-size: small;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}


.form {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
.col {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.col2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 10px 0;
}

.space {
    width: 40px;
}

  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 10px;
  }
  
  .ic2 {
    margin-top: 22px;
  }
  
  .input {
    background-color: #f8f8fa;
    border-radius: 10px;
    border: 0;
    color: #333;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #c0c2ce;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #333;
    border-radius: 10px;
    border: 0;
    color: #f8f8fa;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #000;
  }

  textarea {
    width: 100%;
    height: 194px;
    padding: 12px 20px;
    border: 0;
    border-radius: 10px;
    background-color: #f8f8fa;
    resize: none;
  }


/* RESPONSIVE ATTRIBUTES ----------------------------------*/

@media(max-width:640px){
.main .container{
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}
img {
    max-width: 100%;
    height: auto;
    margin: 40px 0 10px 0;
    border-radius: 10px;
}
.image-text {
    padding-right: 0px;
}
.boxes .container {
    display: block;
    padding: 1px 20px;
}
.center-box {
    margin: 20px 0px;
}
.nav-bar a:hover::before {
    color: #f8f8fa;
    content: "►";
    margin-right: 40px;
}

.nav-bar a:hover::after {
    color: #f8f8fa;
    content: "◄";
    margin-left: 40px;
}
.menu-button-container {
    display: flex;
}
.menu {
    position: absolute;
    top: 0;
    margin-top: 61px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
    border: 1px solid #f8f8fa;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #c0c2ce;
}
.menu > li:not(:last-child) {
    border-bottom: 1px solid #f8f8fa;
}
.form {
    flex-direction: column;
  }
textarea {
    margin-top: 12px;
  }
}